body {
    background-color: black;
    font: normal 12pt Arial ;
    color: snow;
}

p {
    text-align: center;
}

#foto {
    text-align: left;
}

#corpo {
    margin-top: 220px;
}

#hidden {
    font: normal 12pt Times;
    margin-top: 240px;
    color: black;

}