body {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

#hidden {
    color: black;
    font: normal 12pt Times;
    margin-top: 250px;
}

#corpo {
    margin-top: 260px;
}