body {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

#hidden {
    color: rgb(255, 255, 255);
    font: normal 12pt Times;
    margin-top: 200px;
}

#corpo {
    margin-top:170px;
}

#linkedin {
    color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#insta {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
}

#github {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 10px;
}

#share {
    width: 15px;
    height: 15px;
    margin-left: 9px;
    border-radius: 15px;
}